# ===== Gradle =====
.gradle/
build/

# ===== Eclipse / STS =====
.settings/
.project
.classpath
bin/

# ===== IDE =====
.idea/
.vscode/


# ===== Java =====
*.class

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store

# ===== 기타 =====
out/